body{
  margin: 0;
  padding: 0;
  height: 100vh;
}

.pdf-containter{
  width: 750px;
  height: 900px;
}

.search-words{
  text-decoration: underline;
  border-bottom: 1px solid black;
  list-style: none;
  padding: 10px;
  padding-right: 0;
  width: 100%;
  margin: 0;
}

.search-words:hover{
  color: red;
  cursor: pointer;
}

.btn-clear{
  position: relative;
  background-color: #04AA6D;
  border: none;
  font-size: 18px;
  color: #FFFFFF;
  padding: 12px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin: auto;
  border: 1px solid;
  border-radius: 10px;
}

.btn-clear:hover{
  background-color: rgb(55, 231, 193);
  cursor: pointer;
}

.btn-clear:after {
  content: "";
  background-color: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btn-clear:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.page{
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  height: 100vh;
}

.content{
  height: 100%;
  border: 1px solid black;
  overflow: auto;
}

.content-header{
  border-bottom: 1px solid black;
  width: 100%;
  padding: 10px;
  margin: 0;
}