
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
}

.page {
  display: grid;
  grid-template-columns: 25% auto;
  gap: 10px;
  height: 100vh;
}

.pdf {
  width: 750px;
}

.pdf-header {
  display: flex;
}

.content {
  height: 100%;
  border: 1px solid black;
  overflow: auto;
  border-top: none;
}

.content-header {
  border-bottom: 1px solid black;
  width: 100%;
  padding: 10px;
  margin: 0;
}

.search-words {
  text-decoration: underline;
  border-bottom: 1px solid black;
  list-style: none;
  padding: 10px;
  padding-right: 0;
  width: 100%;
  margin: 0;
}

.search-words:hover {
  color: red;
  cursor: pointer;
}

.btn-clear {
  position: relative;
  background-color: #04AA6D;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  padding: 5px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin: auto;
  border: 1px solid;
  width: 100%;
}

.close{
  background-color: #f44336;
  width: 100%;
}

.btn-clear:hover {
  background-color: rgb(55, 231, 193);
  cursor: pointer;
}

.close:hover {
  background-color: rgb(231, 149, 55);
  cursor: pointer;
}

.btn-clear:after {
  content: "";
  background-color: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btn-clear:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
